# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
app/res/values/external_strings_dev.xml
app/key.properties
app/local.properties
app/bin/*
app/buildtmp/*
app/dist/*
libraries/mapballoons/android-mapviewballoons/bin/*
libraries/mapballoons/android-mapviewballoons/gen/*
app/gen/*
libraries/mapballoons/android-mapviewballoons/local.properties
app/assets/testing*
test-app/bin/*
test-app/gen/*
*/bin/*
commcare-odk-test/gen/*
*.orig

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
